<%= form_with(model: blood_donor, local: true) do |form| %>
  <% if blood_donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blood_donor.errors.count, "error") %> prohibited this blood_donor from being saved:</h2>

      <ul>
      <% blood_donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :blood_type %>
    <%= form.text_field :blood_type %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
